name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint with Ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Ruff linter
        uses: astral-sh/ruff-action@v3
        with:
          args: check .

      - name: Run Ruff formatter check
        uses: astral-sh/ruff-action@v3
        with:
          args: format --check .

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
     - uses actions/checkout@v4

     - name: Set up Python
       uses: actions/setup-python@v5
       with:
          python-version: '3.12'

     - name: Install uv
       uses: astral-sh/setup-uv@v3

     - name: Install depenacies
        run: |
          uv sync --all-extras

      - name: Run tests
        run: |
          uv run pytest tests/ --cov-report=term

  typecheck:
    name: Type Check with Pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies and ty
        run: |
          uv sync
          uv pip install ty

      - name: Run ty type checking
        run: |
          uv run ty check